<html>
   <head>
    <title></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://js.stripe.com/v3/"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  
  </head>
  <body>
    <%= render "layouts/header"%>
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>
    <% if user_signed_in? %>
      <% if @cart.present? %>
      <div class="p-2">
      <h3 class="text-center">Shopping cart</h3>
        <% @cart.each do |product| %>
          <span class="form-group text-center">
            <%= form_tag(checkouts_create_path, method: :post, class:"border p-2") do %>
              <%= hidden_field_tag :price, product.stripe_price_id%>
              Product: <%= product.name %>,
              Price: <%= product.price/100 %>, 
              Currency: <%= product.currency %><br> 
              <%= number_field_tag :qty, "",placeholder:"Qty of #{product.name}",min:"1", max:"5", class:"qty"%>
              <%= submit_tag "Buy now!", data: { disable_with: "validating..."} %>
            <% end %>
          </span>
        <% end %>
      </div>  
      <% end %>
    <% end %>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
